@import '../../assets/scss/variable.scss';
.expert-profile-container{
    .top-banner{
        background-color: #006580;
        border-radius: 10px;
        height: 250px;
        background-image: url(../../assets/media/topbanner.png);
        background-repeat: no-repeat;
        background-position-x: right;
        color: $color-white;
        background-size: 50% 100%;
        button{
            @include button-bg($btn-color-success);
            width: fit-content;
            color: $color-white;
        }
    }
}