<div class="expert-profile-container w-100 mb-3 mt-5">
    <div class="top-banner w-100 position-relative d-flex flex-column justify-content-center px-5">
       <h6>Choose the expert for financial growth</h6>
       <h2>Your financial</h2>
       <h2>health in safe hands</h2>
       <h6>Certified Advisors & Community Members</h6>
       <button class="btn btn-sm">Know More</button>
    </div>
    <div class="experts-heading d-flex justify-content-center align-items-center my-3">
        <h6 class="mb-0">Private online consultation with verified,Clarified financial experts in all sectors.</h6>
        <button class="btn btn-success btn-sm mx-2">View all experts</button>
    </div>
    <div class="expert-profile-row d-flex">
        <div class="card">
            <img src="../../assets/media/profile1.png" alt="profile1">
            <h6>Find Advisor<br/> near you</h6>
        </div>
        <div class="card">
            <img src="../../assets/media/profile2.jpg" alt="profile2">
            <h6>Find corporate finance <br/> portfolio managers</h6>
        </div>
        <div class="card">
            <img src="../../assets/media/profile3.jpg" alt="profile3">
            <h6>Find stock market <br/>Advisor </h6>
        </div>
        <div class="card">
            <img src="../../assets/media/profile4.jpg" alt="profile4">
            <h6>Find saving managment <br/>Advisor </h6>
        </div>
    </div>
</div>