@import '../../assets/scss/variable.scss';
.expert-profile-container{
    .top-banner{
        background-color: #006580;
        border-radius: 10px;
        height: 250px;
        background-image: url(../../assets/media/topbanner.png);
        background-repeat: no-repeat;
        background-position-x: right;
        color: $color-white;
        background-size: 50% 100%;
        button{
            @include button-bg($btn-color-success);
            width: fit-content;
            color: $color-white;
        }
        h2{
            margin-bottom: 0;
            font-weight: bold;
        }
    }
    .experts-heading{
        h6{
            color: #14718A;
        }
        .btn-success{
            @include button-bg($btn-color-success);
            border-radius: 0;
            text-transform: capitalize;
        }
    }
    .expert-profile-row{
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 50px;
        .card {
            width: calc((100% - 1vw)/4);
            margin: 1vw;
            height: 250px;
            text-align: center;
            border-radius: 25px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            img{
                height: 100%;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
            }
            h6{
                color: #14718A;
                padding: 2px 0;
                margin-top: 0.5rem;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
    .register-profile{

    }
    .article{
        .left,.right,.center{
            width: calc((100% - 9vw)/2);
            margin: 0 1.5vw;
            h2{
                font-size: 1.5vw;
                color: #003255;
                font-weight: 600;
            }
            h4{
                font-size: 1vw;
                color: #003255;
                font-weight: 600;
            }
            h6,h5{
                font-size: 12px;
                margin: 15px 0;
            }
            button{
                @include button-bg($btn-color-success);
                border-radius: 0;
                text-transform: capitalize;
                font-size: 1vw;
                background-color: #003255;
                border-radius: 7px;
            }
        }
        
    }
}

@media only screen and (max-width: 600px) {
    .experts-heading{
        flex-direction: column;
        button{
            width: fit-content;
            margin: 10px 0;
        }
        h6{
            padding: 0 7.5vw;
        }
    }
    .expert-profile-row{
        flex-direction: column;
        .card{
            width: 100% !important;
            margin: 1vw 0 !important;
        }
    }
    .register-profile,.article{
        flex-direction: column;
    }
    .article{
        .left,.right,.center{
            width: 100% !important;
            margin: 1vw 0 !important;
        }
    }
}


