<div class="expert-profile-container w-100 mb-3 mt-5">
    <div class="top-banner w-100 position-relative d-flex flex-column justify-content-center px-5">
        <h6>Choose the expert for financial growth</h6>
        <h2>Your financial</h2>
        <h2>health in safe hands</h2>
        <h6>Certified Advisors & Community Members</h6>
        <button class="btn btn-sm">Know More</button>
    </div>
    <div class="experts-heading d-flex justify-content-center align-items-center my-3">
        <h6 class="mb-0">Private online consultation with verified,Clarified financial experts in all sectors.</h6>
        <button class="btn btn-success btn-sm mx-2">View all experts</button>
    </div>
    <div class="expert-profile-row d-flex">
        <div class="card">
            <img src="../../assets/media/profile1.png" alt="profile1">
            <h6>Find Advisor<br /> near you</h6>
        </div>
        <div class="card">
            <img src="../../assets/media/profile2.jpg" alt="profile2">
            <h6>Find corporate finance <br /> portfolio managers</h6>
        </div>
        <div class="card">
            <img src="../../assets/media/profile3.jpg" alt="profile3">
            <h6>Find stock market <br />Advisor </h6>
        </div>
        <div class="card">
            <img src="../../assets/media/profile4.jpg" alt="profile4">
            <h6>Find saving managment <br />Advisor </h6>
        </div>
    </div>
    <div class="article d-flex my-5">
        <div class="left">
            <h2>Read Top Articles 
                From Financial Experts</h2>
            <h6>Financial articles that keep you 
                informed about good finance practice and 
                achive your goals.</h6>
            <button class="btn btn-success">Read All Articles</button>
        </div>
        <div class="center">
            <h4>Money Management Resources 
                 You Don't Want To Miss
            </h4>
            <h5>By Chauncy Crail, Certified Advisor</h5>
            <h6>We strive to provide you with valuable 
                information & resources. Opinions are from the 
                author alone not
                from...</h6>
            <button class="btn btn-success">Read More</button>
        </div>
        <div class="right">
            <h4>11 Things to Do When You've Lost Your Job</h4>
            <h5>By Jane Haskins, Contributor</h5>
            <h6>There's no doubt about it:it sucks when you've 
                lost your job.Job loss is
                stressfyull under normal 
                times, and evenmore so with every thing...
            </h6>
            <button class="btn btn-success">Read More</button>
        </div>
    </div>
    <div class="register-profile ">
        <div class="register-des">
            <h2>Become A Financial Advisor 
                At Money Plant</h2>
            <h3>Are You Advisor? Register Now.</h3>
            <p>Demand for the financial services offered by community 
                Money Plant is growing, and we are strengthening our 
                finances expertises to meet the demand.</p>
            
            <p>Money Plant is mission-deriven financial advisor community 
                that provide all consultations to indivisuals, Society, 
                Organisations, communities, businesses, and households to 
                foster economic opportiunity and revitalize nighborhoods.</p>
        </div>
        <div class="register-form">
            <form>
                <label>Name</label>
                <input type="text"  placeholder="Name">
                <label>Mobile Number</label>
                <input type="text"  placeholder="Mobile Number">
                
                
                <label>Email Id</label>
                <input type="text"  placeholder="Email Id">
                <label>Create Paaword</label>
                <input type="Password" placeholder="8 Digit Password"> 


                
            </form>
        </div>
    </div>
</div>