@import '../assets/scss/variable.scss';
.container-fluid{
    header{
        height: 10%;
        box-shadow: 0px 15px 10px -15px #E2E2E2;  
        .logo{
            .fa-bars{
                color: $btn-color-success;
            }
        }
        nav{
            position: relative;
            left: -7vw;
            ul{
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: $color-default;
                        font-family: 'Trebuchet MS', sans-serif;
                        &:hover{
                            color: $btn-color-success;
                        }
                        &:active{
                            color: $btn-color-success;
                        }
                    }
                }
            }
        }
        .search-button{
            .login{
                background-color: $btn-color-success;
                border: none;
                font-family: 'Trebuchet MS', sans-serif;
            }
        }
    }
}