/* You can add global styles to this file, and also import other style files */
@import '../src/assets/scss/variable.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    body{
        @extend html;
        background-color: $bg-white;
        // font-family: 'Open Sans', sans-serif;
        font-family: 'Be Vietnam Pro', sans-serif;
    }
}